/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    padding: 0;
    cursor: pointer;
}

body,
input {
    margin: 0;
}

input:focus,
select:focus {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

[type="checkbox"],
[type="range"],
select {
    cursor: pointer;
}

select {
    border: 0;
    background: transparent;
    color: inherit;
}

/* Variaveis */
:root {
    --black: #313131;
    --primary: rgb(255, 185, 55);
    --primary-opacity: rgba(255, 185, 55, .5);
    --gray: rgba(0,0,0,0.05);
}

option {
    color: var(--black)
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

/* SVG colors */
#btn-menu svg,
#svg-quarter-note,
#play svg {
    fill: var(--black);
}
#svg-quarter-note path {
    stroke: var(--black);
}

/* Geral */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
    color: var(--black);
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    padding: 0 15px;
}

/* Header */
header {
    position: fixed;
    background-color: inherit;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 1px solid rgba(0,0,0,0.15);
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#logo {
    font-size: 14px;
    text-transform: uppercase;
}

#btn-menu {
    background: transparent;
}

#btn-menu svg {
    width: 25px;
    height: 25px;
}

#svg-close {
    display: none;
}

#btn-menu.active #svg-bars {
    display: none;
}

#btn-menu.active #svg-close {
    display: inline;
}

#menu {
    position: fixed;
    top: 50px;
    left: 100%;
    width: 100%;
    bottom: 0;
    transition: all .2s linear;
    background: inherit;
}

#menu .container {
    padding: 0;
}

#menu.active {
    left: 0;
}

#menu h2 {
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
}

#menu li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid var(--gray);
}

#menu label {
    font-size: 16px;
}

#menu select {
    font-size: 16px;
    font-style: italic;
}

main {
    padding-top: 65px;
    height: 100%;
}

main .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-middle {
    margin: 50px 0;
}

/* Range progress bar color*/

/* input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgb(240,240,240);
    border-radius: 5px;
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    color: #13bba4;
}
  
input[type='range']::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 10px;
    cursor: ew-resize;
    background: #434343;
    box-shadow: -160px 0 0 160px var(--primary)
    border-radius: 5px;
}

input[type="range"]::-moz-range-track {  
    background-color: rgb(240,240,240);
}
input[type="range"]::-ms-fill-upper {  
    background-color: rgb(240,240,240);
}

input[type="range"]::-ms-fill-lower {
    background-color: var(--primary)
}
input[type="range"]::-moz-range-progress {
    background-color: var(--primary)
} */


/* Top */
.top {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

#svg-quarter-note {
    height: 26px;
}

#equal {
    font-size: 22px;
    position: relative;
    top: -3px;
    left: 4px;
}

#current-bpm {
    width: 65px;
    text-align: right;
    display: inline-block;
    border: 0;
    font-weight: 500;
    font-size: 36px;
    padding: 0;
    background: transparent;
    color: inherit;
}

#current-bpm + span{
    font-weight: 400;
    opacity: 0.5;
    font-size: 14px;
} 

#play {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--gray);
}

#play svg {
    width: 40px;
    height: 40px;
    margin-right: -5px;
}

#svg-pause {
    display: none;
    margin-left: -5px;
}

#play.active #svg-play {
    display: none;
}

#play.active #svg-pause {
    display: inline;
}

/* Range */
#tempo {
    width: 100%;
    margin-top: 20px;
}

/* Options */
#options {
    margin-top: 20px;
    display: flex;
}

label {
    font-size: 14px;
    font-weight: 400;
}

[type="checkbox"] {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
}

/* Time signature */
[for="beats"] {
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
}

#time-signature {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

#time-signature::after {
    width: 18px;
    height: 1px;
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -14px;
    display: block;
    background: var(--black);
}

#time-signature select {
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: inherit;
}

/* Contador */
#count {
    font-size: 40px;
    color: var(--primary);
    text-align: center;
    font-weight: 500;
    margin: -10px 0 40px;
}

/* Luzes */
#lights {
    display: flex;
    justify-content: center;
}

#lights li {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    transform: scale(0.6);
    transition: all 0.15s linear;
    color: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
}

#lights li.active {
    background: transparent;
    box-shadow: 0 0 2px 2px var(--primary-opacity);
    transform: scale(2);
}

/* Volumes */
#volumes {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

#volumes .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px 10px 0px;
    overflow: hidden;
    width: 100%;
    background: rgba(0,0,0,0.025);
}

#volumes .volume-value {
    font-weight: 500;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
}

#volumes .range {
    width: 50px;
    height: 95px;
}

#volumes [type="range"] {
    transform: rotate(-90deg) translate(-40px, -25px);
    width: 100px;
}

#volumes .figure svg {
    width: 50px;
    height: 50px;
}

/* Theme Dark */
.dark {
    color: var(--primary);
}

.dark #menu,
.dark {
    background: var(--black);
}

.dark header {
    border: 0;
}

.dark #svg-quarter-note path {
    stroke: var(--primary);
}

.dark #time-signature::after,
.dark #play {
    background-color: var(--primary);
}

.dark #svg-play {
    fill: var(--black)
}
.dark #svg-quarter-note,
.dark #btn-menu svg {
    fill:var(--primary);
}

.dark #menu li {
    border-color: var(--primary-opacity);
}

.dark .figure svg image {
    filter: contrast(0) brightness(72%) invert(1) sepia(100%) saturate(670%);
}

.dark #current-bpm + span {
    opacity: 1;
}

.dark .box,
.dark #volumes .column {
    background: transparent;
}