/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    cursor: pointer;
}

input:focus,
select:focus {
    outline: 0;
}

li {
    list-style: none;
}

[type="checkbox"],
[type="range"],
select {
    cursor: pointer;
}

select {
    border: 0;
    background: transparent;
    color: inherit;
}

/* Variaveis */
:root {
    --black: #313131;
    --primary: rgb(255, 185, 55);
    --primary-opacity: rgba(255, 185, 55, .25);
    --light-grey: #f1f1f1;
    --dark-grey: #cdcdcd;
    --white-dark-theme: #989898;
}

option {
    color: var(--black)
}

input[type=range] {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    height: 8px;
    border-radius: 3px;
    border: 1px solid var(--dark-grey);
}

input[type="range"]::-moz-range-thumb {
     -webkit-appearance: none;
    background-color: var(--black);
    width: 16px;
    height: 16px;
    border-radius: 100%;
    position: relative;
    border: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
   background-color: var(--black);
   width: 16px;
   height: 16px;
   border-radius: 100%;
   position: relative;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');

/* SVG colors */
#btn-menu svg,
#svg-quarter-note,
#play svg {
    fill: var(--black);
}
#svg-quarter-note path {
    stroke: var(--black);
}

/* Geral */
html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1 url('../img/bg.png') repeat;
    color: var(--black);
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    padding: 0 15px;
}

/* Header */
header {
    position: fixed;
    background-color: inherit;
    background-image: url('../img/bg.png');
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#logo {
    font-size: 14px;
    text-transform: uppercase;
}

#btn-menu {
    background: transparent;
}

#btn-menu svg {
    width: 25px;
    height: 25px;
}

#svg-close {
    display: none;
}

#btn-menu.active #svg-bars {
    display: none;
}

#btn-menu.active #svg-close {
    display: inline;
}

#menu {
    position: fixed;
    top: 50px;
    left: 100%;
    width: 100%;
    bottom: 0;
    transition: all .2s linear;
    background: inherit;
    background-image: url('../img/bg.png');
}

#menu .container {
    padding: 0;
}

#menu.active {
    left: 0;
}

#menu h2 {
    font-size: 14px;
    padding: 15px;
    text-transform: uppercase;
}

#menu li {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid var(--light-grey);
}

#menu label {
    font-size: 16px;
}

#menu select {
    font-size: 16px;
    font-style: italic;
    text-align: right;
}

main {
    padding-top: 65px;
    height: 100%;
}

main .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-middle {
    margin: 50px 0;
}

/* Top */
.top {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

#svg-quarter-note {
    width: 9px;
    height: 26px;
}

#equal {
    font-size: 22px;
    position: relative;
    top: -3px;
    left: 4px;
}

#bpm-text {
    width: 65px;
    text-align: right;
    display: inline-block;
    border: 0;
    font-weight: 500;
    font-size: 36px;
    padding: 0;
    background: transparent;
    color: inherit;
}

#bpm-text + span{
    font-weight: 400;
    opacity: 0.5;
    font-size: 14px;
} 

#play {
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--dark-grey);
}

#play svg {
    width: 40px;
    height: 40px;
    margin-right: -5px;
}

#svg-pause {
    display: none;
    margin-left: -5px;
}

#play.active #svg-play {
    display: none;
}

#play.active #svg-pause {
    display: inline;
}

#bpm {
    width: 100%;
    margin-top: 20px;
    border: 0;
    background: var(--dark-grey);
    height: 5px;
}

#bpm::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
}

/* Options */
#options {
    margin-top: 20px;
    display: flex;
}

label {
    font-size: 14px;
    font-weight: 400;
}

[type="checkbox"] {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
}

/* Time signature */
[for="beats"] {
    font-weight: 500;
    font-size: 16px;
    display: inline-flex;
}

#time-signature {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

#time-signature::after {
    width: 18px;
    height: 1px;
    content: '';
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -14px;
    display: block;
    background: var(--black);
}

#time-signature select {
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: inherit;
}

/* Contador */
#counter {
    font-size: 40px;
    color: var(--primary);
    text-align: center;
    font-weight: 500;
    margin: -10px 0 40px;
}

/* Luzes */
#lights {
    display: flex;
    justify-content: center;
}

#lights li {
    width: 13px;
    height: 13px;
    border-radius: 100%;
    border: 1px solid var(--primary);
    background-color: var(--primary);
    transform: scale(0.6);
    transition: all 0.15s linear;
    color: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
}

#lights li.active {
    background: transparent;
    box-shadow: 0 0 2px 2px var(--primary-opacity);
    transform: scale(2);
}

/* Volumes */
#volumes {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}

#volumes .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 10px 10px 0px;
    overflow: hidden;
    width: 100%;
    background: #ebebeb;
}

#volumes .volume-value {
    font-weight: 500;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
}

#volumes .range {
    width: 50px;
    height: 95px;
}

#volumes [type="range"] {
    transform: rotate(-90deg) translate(-40px, -25px);
    width: 100px;
}

#volumes .figure svg {
    width: 50px;
    height: 50px;
}

/* Theme Dark */
[data-theme="dark"] {
    color: var(--white-dark-theme);
}

[data-theme="dark"] #svg-quarter-note path {
    stroke: var(--white-dark-theme);
}

[data-theme="dark"] #time-signature::after,
[data-theme="dark"] #play {
    background-color: var(--white-dark-theme);
}

[data-theme="dark"] #svg-quarter-note,
[data-theme="dark"] #btn-menu svg {
    fill: var(--white-dark-theme);
}

[data-theme="dark"] #menu li {
    border-color: rgba(255,255,255,0.1);
}

[data-theme="dark"] .figure svg image {
    filter: contrast(0) brightness(50%) invert(1);
}

[data-theme="dark"] .box,
[data-theme="dark"] #volumes .column {
    background: transparent;
}

[data-theme="dark"] input[type="range"]::-moz-range-thumb {
    background-color: var(--white-dark-theme);
}

[data-theme="dark"] input[type="range"]::-webkit-slider-thumb {
    background-color: var(--white-dark-theme);
}

/* Theme Dark Yellow */
[data-theme="dark-yellow"] {
    color: var(--primary);
}

[data-theme="dark-yellow"] #svg-quarter-note path {
    stroke: var(--primary);
}

[data-theme="dark-yellow"] #time-signature::after,
[data-theme="dark-yellow"] #play {
    background-color: var(--primary);
}

[data-theme="dark-yellow"] #svg-quarter-note,
[data-theme="dark-yellow"] #btn-menu svg {
    fill:var(--primary);
}

[data-theme="dark-yellow"] #menu li {
    border-color: var(--primary-opacity);
}

[data-theme="dark-yellow"] .figure svg image {
    filter: contrast(0) brightness(72%) invert(1) sepia(100%) saturate(670%);
}

[data-theme="dark-yellow"] .box,
[data-theme="dark-yellow"] #volumes .column {
    background: transparent;
}

[data-theme="dark-yellow"] input[type="range"]::-moz-range-thumb {
    background-color: var(--primary);
}

[data-theme="dark-yellow"] input[type="range"]::-webkit-slider-thumb {
    background-color: var(--primary);
}

/* Para qualquer tema dark */
[data-theme*="dark"] #menu,
[data-theme*="dark"] {
    background-color: var(--black);
    background-image: url('../img/bg-dark-theme.png');
}

[data-theme*="dark"] #bpm {
    background: rgba(255,255,255,0.25);
}

[data-theme*="dark"] input[type=range] {
    border-color: rgba(255,255,255,0.25);
}

[data-theme*="dark"] #bpm-text + span {
    opacity: 1;
}

[data-theme*="dark"] #svg-play {
    fill: var(--black)
}

[data-theme*="dark"] header {
    background-image: url('../img/bg-dark-theme.png');
}