/* Reset */
button {
    border: 0;
    padding: 0;
    cursor: pointer;
}

input {
    margin: 0;
}

input:focus,
select:focus {
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

[type="checkbox"],
[type="range"],
select {
    cursor: pointer;
}

select {
    border: 0;
    background: transparent;
}

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Music&display=swap');
@font-face {
    font-family: 'guitar_pro_5regular';
    src: url('../fonts/copyfonts.com_guitar-pro-5-webfont.woff') format('woff2'),
         url('../fonts/copyfonts.com_guitar-pro-5-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
}

.container {
    margin: 0 auto;
    width: fit-content;
}

.box {
    justify-content: center;
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    margin: 10px 0;
}

/* Top */
.top {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

#quarter-note {
    font-family: 'guitar_pro_5regular';
    font-size: 22px;
}

#equal {
    font-size: 22px;
    position: relative;
    top: -3px;
    left: 4px;
}

#current-bpm {
    width: 65px;
    text-align: right;
    display: inline-block;
    border: 0;
    font-weight: 500;
    font-size: 36px;
    padding: 0;
}

#current-bpm + span{
    font-weight: 400;
    opacity: 0.5;
    font-size: 14px;
} 

#play {
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

#play svg {
    width: 40px;
    height: 40px;
}

#svg-play {
    margin-right: -4px;
}

#svg-pause {
    display: none;
}

#play.active #svg-play {
    display: none;
}

#play.active #svg-pause {
    display: inline;
}

/* Range */
#tempo {
    width: 100%;
    margin-top: 20px;
}

/* Options */
#options {
    margin-top: 20px;
    display: flex;
}

.column {
    padding: 0 15px;
}

.column + .column {
    border-left: 1px solid rgba(0,0,0,0.15);
}

label {
    font-size: 14px;
    font-weight: 400;
}

[type="checkbox"] {
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
}

/* Time signature */
[for="beats"] {
    font-weight: 500;
    font-size: 16px;
}

#time-signature {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

#time-signature::after {
    width: 18px;
    height: 1px;
    content: '';
    position: absolute;
    top: 26px;
    left: 50%;
    margin-left: -20px;
    display: block;
    background: #000;
}

#beats, #note-value {
    font-family: 'guitar_pro_5regular';
    transform: scale(1.5);
    width: 40px;
    height: 26px;
    font-size: 20px;
    text-align: center;
}

.sound-options label {
    font-weight: 500;
}

.sound-options .row {
    display: grid;
    grid-template-columns: auto 124px;
    column-gap: 10px;
}

.sound-options .row + .row {
    margin-top: 2px;
}

/* Luzes */
#lights {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    width: fit-content;
    margin: 0 auto;
}

#lights .number {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin: 10px 0 2px;
}

#lights li .light {
    width: 20px;
    height: 20px;
    background: #bbb;
    display: block;
}

#lights li.active .light{
    background: #00499c;
}

#lights li.active ~ li.active .light {
    background: #bbb;
}

#lights li.accent .light {
    background: #0075FF;
}

/* Volumes */
#volumes {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    margin: 20px 0;
}

#volumes .column {
    display: grid;
    grid-template-rows: auto 80px auto;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 10px 10px 0px;
    overflow: hidden;
    box-sizing: border-box;
    width: 70px;
    background: rgba(255,255,255,0.25);
}

#volumes .volume-value {
    font-weight: 500;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
}

#volumes .range {
    width: 50px;
}

#volumes [type="range"] {
    transform: rotate(-90deg) translate(-30px, -15px);
    width: 80px;
}

#volumes .figure {
    font-family: 'Noto Music', sans-serif;
    font-size: 30px;
    position: relative;
    height: 60px;
    top: 3px;
}

.sprite {
    background: url("../img/sprite.png") no-repeat;
    display: block;
    width: 50px;
    height: 50px;
    background-position: 0 0;
}

.volume-2 .sprite {background-position: 0 -50px;}
.volume-3 .sprite {background-position: 0 -100px;}
.volume-4 .sprite {background-position: 0 -150px;}

@media (min-width: 576px) {

    #lights {
        column-gap: 10px;
    }

    #lights .number {
        font-size: 20px;
    }

    #lights li .light {
        width: 50px;
        height: 50px;
    }
}